<div>
    <ul>
        <img src="{{flag}}" alt ="{{name}}">
        <li>Country: {{name}}</li>
        <li>Capital: {{capital}}</li>
        <li>Population: {{population}}</li>
        {{#each languages}}
        <li>Languages: {{name}}</li>
            {{/each}}
        </li>
    </ul>
</div>