<div>
    <img src="{{flag}}" alt ="{{name}}" width = "60", height="40">
        <h2>{{name}}</h2>
    <ul>
        <li>Capital: {{capital}}</li>
        <li>Population: {{population}}</li>
        <li>Languages:
           {{#each languages}}{{this.name}}
           {{/each}}
       </li>
    </ul>
</div>

